.item {
  width: 312px;
  height: 308px;
  border-radius: 4px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
}

.item:hover, 
.item:focus {
  box-shadow: 0px 1px 5px rgba(12, 134, 95, 0.2), 0px 3px 4px rgba(32, 187, 115, 0.12), 0px 2px 4px rgba(24, 173, 101, 0.14);
}

.image {
  width: 312px;
  height: 232px;
  border-radius: 4px 4px 0 0;
}

.description {
 padding: 12px 16px;
}

.name {
  max-width: 208px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
}

.species {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
letter-spacing: 0.25px;
color: rgba(0, 0, 0, 0.6);
}

@media screen and (min-width: 768px) {
.item {
    width: 240px;
    height: 244px;
  }

.image {
  width: 240px;
  height: 168px;
  border-radius: 4px 4px 0 0;
}
}