.div {
  position: absolute;
  top: 23px;
  right: 32px;
}

.button {
  display: block;
  height: 30px;
  width: 170px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.15px;
  color: #32c625;

  padding: 4px;
  border: 1px solid #32c625;
  border-radius: 4px;
  margin: 0 auto;
  background-color: rgba(33, 191, 186, 0.208);
}

.button:hover,
.button:focus {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
}

.email {
  text-align: center;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #32c625;
}

@media screen and (min-width: 768px) {
  .div {
    top: 21px;
    right: 50px;
    }
  .button {
  display: block;
  height: 50px;
  width: 200px;

  max-width: 208px;
  
  font-size: 20px;
  line-height: 30px;
}
}